body{
    background-color: #a97a2e;
}

.nav{
    background-color: #240442;
}
.button{
    border-color: #ff6600;
    background-color: #4d148c;
    color: aliceblue;
}

.button:hover{
    background-color: #ff6600;
    border-color: #4d148c;
    color: aliceblue;
}

.button:active{
    background-color: #ff9752;
}

.text{
    color: aliceblue;
}

.text:hover{
    background-color: #ff6600;
    color: aliceblue;
}


.menu {
    background-color: #4d148c;
    color: aliceblue;
}

/* .menu:hover{
    background-color: #7944b3;
    color: #ff6600;
} */
h1{
    color: #4d148c;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400 ;
    text-align: center;
    font-size: 40px;
}
.linea{
    background: rgb(11, 26, 139);
    height: 5px;
    width: 100%;
    display: block;
}

#txt1{
    color:rgb(255, 60, 0);
    font-size: 40px;
    font-family: Brush Script MT;
}

#txt2{
    color:rgb(255, 238, 0);
    font-size: 40px;
    font-family: Brush Script MT;
}

#txt3{
    color:  #f1742c;
    font-size: 35px;
    font-family: Brush Script MT;
}

.button:active{
    background-color:#ff9752;
}

.text{
    color: aliceblue;
}

.text:hover{
    background-color: #ff6600;
    color: aliceblue;
}

.button{
    color: aliceblue;
}

.button:hover{
    background-color: #ff6600;
    color: aliceblue;
}

.menu {
    background-color: #229a0d;
    color: aliceblue;
    opacity: 60%;
}

.experiences-title{
    color: #ff6600;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 30px;
    margin: 25px;
}

.experience-detail{
    text-shadow: 0.1em 0.1em 0.05em white;
    box-shadow: 6px 10px 10px rgb(235, 116, 61);
    color: #8246f3;
    padding: 25px;
    max-width: 500px;
    margin: 0 auto;
}

.expereience-pos{
    color: #ff6600;
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
}

@media(min-width: 950px){
    .experiences-title{
        font-size: 50px;
        margin: 35px;
    }
    
    .expereience-pos{
        font-weight: bold;
        font-size: 20px;
        margin-top: 20px;
    }
    
    .experience-detail{
        font-size: 20px;
        margin-top: 10px;
        line-height: 1.3;
    }

    .experience{
        padding: 0px;
    }

    .experience_left{
        text-align: right;
    }
    
    .experiences-grid{
        display: grid;
        grid-template-columns: auto 2px auto;
        gap: 20px 70px;
        padding: 70px;
        justify-content: center;
        max-width: 980px;
        margin: 0 auto;
    }

    .line{
        background-color: var(--color-texto-invertido);
        position: relative;
    }

    .line::before,
    .line::after{
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-color: var(--color-texto-invertido);
        border-radius: 50%;
        position: absolute;
        top: -20px;
        left: -9px;
    }

    .line::after{
        top: 100%;
        z-index: 1;
    }
}



.modallog{
    background-image: url(../images/img6.jpg);
    background-size: contain;
    text-shadow: 0.1em 0.1em 0.4em rgb(10, 10, 10);
    color: #f6ecf4;
    font-size: 100;
    opacity: 80%;
}

.modalreg{
    background-image: url(../images/img9.jpg);
    background-size: contain;
    text-shadow: 0.1em 0.1em 0.4em rgb(8, 8, 8);
    color: #e8e3f0;
    font-size: 50;
    opacity: 85%;
}

.btn-close{
    background-color: #68ec16;
    
}

.btn-secondary{
    background-color: #572290;
}

.btn-primary{
    background-color: #f1742c;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.modal-footer {
    background-color: #a40c46;
    opacity: 90%;
}
.modal-header{
    background-color: #a40c46;
    opacity: 75%;
}
mybody{

    font-family: 'Raleway', sans-serif;
}
.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.galeria img{
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}
